# Enable the Rewrite engine
RewriteEngine On

# Try cached page
#RewriteRule ^([^.]+)$ $1.html [QSA]

# Check if the file exists in the Application Public directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/Application/Public/
RewriteRule ^(.*)$ Application/Public/$1


# File not found in any of the static directories (>> redirect to ChickenWire)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ChickenWire.php [QSA,L]


# PHP Settings
php_flag magic_quotes_gpc off
php_flag register_globals off